*{
    margin: 0;
    padding: 0;
}

/* section 1 style start */
.section1{
    margin-bottom: 100px;
}
.banner {
    top: 50px;
    position: relative;
    width: 70%;
    margin: 0 auto;
    box-shadow: 20px rgb(40, 40, 40);
}
.banner img{
    width: 100%;
}
.img-heading-p{
    color: #fff;
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 40px;
}
.img-heading{
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 5rem;
}
/* section 1  style end */



/* section 2 style start */
.section2{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maindiv, .maindiv-h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}
.maindiv, .maindiv-p{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.maindiv, .maindiv-cata-head{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
/* section 2 style end */


/* section 3 style start */
.section3{
    background-position: center;
    height: 700px;
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    position: relative;
    margin: 120px 120px;
}

.container{
    display: flex;
    position: absolute;
}

.container > .left-side-text > .container-header{
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-top: 120px;
    margin-left: 250px;
}
.container > .left-side-text > .container-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height:20px; /* 166.667% */
    margin-left: 250px;
}
.container > .side-photo{
    margin: 90px 250px 150px;
}
.container > .left-side-text > .container-btn{
    margin-top: 30px;
    margin-left: 280px;
    font-size: 22px;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}
/* section 3 style end */


/* section 4 style start */
.section-4{
    width: 71%;
    height: 420px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border: solid 0px;
    margin: 120px 35px 10px 257px;
    position: relative;
}
.section-4-span{
    color: #F00;
}

.section-4-container{
    position: absolute;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    top: 80px;
    left: 360px;
    bottom: 200px;
}
.section-4-btn{
    border-radius: 8px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F00;
    border: 0;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
/* section 4 style end */

/* section 5 style start */
.section-5{
    align-items: center;
    justify-content: center;
    margin: 120px 140px 0 265px;

}
.parent-div{
    display: flex;
    width: 90%;
    height: 420px;
    align-items: center;
    justify-content: center;
    border: o;
}

.flex-item-1 > .item-title{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.flex-item-1 > .item-header{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.flex-item-1 > .item-1-message{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.parent-div > .flex-item-2{
    border: red 15px solid;
    border-radius: 50%;
    padding: 15px;
    margin: 40px;
}
.flex-item-3{
    margin-top: 30px;
}
.flex-item-3 > .item-header{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.flex-item-3 > .item-3-message{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
/* section 5 style start */
